<?xml version="1.0" encoding="UTF-8"?>

<web-app id="web-app_1" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
 <!--
Disabled. Use servlet container defaults
<session-config>
    <session-timeout>30</session-timeout> 
</session-config> 
-->

    <!--
    To use non XDoclet filters, create a filters.xml file that
    contains the additional filters (eg Sitemesh) and place it in your
    project's merge dir.  Don't include filter-mappings in this file,
    include them in a file called filter-mappings.xml and put that in
    the same directory.
    -->

   <filter>
      <filter-name>EncodingFilter</filter-name>
      <filter-class>pt.iflow.servlets.EncodingFilter</filter-class>
      <init-param>
      <param-name>excludes</param-name>
      <param-value>/background,/rounded</param-value>
      </init-param>
   </filter>
   <filter>
      <filter-name>RedirectAuthenticationFilter</filter-name>
      <filter-class>pt.iflow.servlets.RedirectAuthenticationFilter</filter-class>
   </filter>
   <filter>
      <filter-name>AuthenticationFilter</filter-name>
      <filter-class>pt.iflow.servlets.AuthenticationFilter</filter-class>
   </filter>
   <filter>
      <filter-name>DispatcherAuthenticationFilter</filter-name>
      <filter-class>pt.iflow.servlets.DispatcherAuthenticationFilter</filter-class>
   </filter>
   <filter>
      <filter-name>SysAdmAuthenticationFilter</filter-name>
      <filter-class>pt.iflow.servlets.SysAdmAuthenticationFilter</filter-class>
   </filter>
   <filter>
      <filter-name>RemoteFileInclusionFilterFilter</filter-name>
      <filter-class>pt.iflow.servlets.RemoteFileInclusionFilter</filter-class>
   </filter>
   <filter>
      <filter-name>MySQLInjectionFilter</filter-name>
      <filter-class>pt.iflow.servlets.MySQLInjectionFilter</filter-class>
   </filter>
   <filter>
      <filter-name>XSSFilter</filter-name>
      <filter-class>pt.iflow.servlets.XSSFilter</filter-class>
      <init-param>
      	<param-name>pt.iflow.filter_exception0</param-name>
      	<param-value>/</param-value>
      </init-param>      
   </filter>
   <filter>
      <filter-name>CSRFFilter</filter-name>
      <filter-class>pt.iflow.servlets.CSRFFilter</filter-class>
      <init-param>
      	<param-name>pt.iflow.filter_exception0</param-name>
      	<param-value>/iFlow/login.jsp</param-value>
      </init-param>
      <init-param>
      	<param-name>pt.iflow.filter_exception1</param-name>
      	<param-value>/iFlow</param-value>
      </init-param>
      <init-param>
      	<param-name>pt.iflow.filter_exception2</param-name>
      	<param-value>/iFlow/</param-value>
      </init-param>
      <init-param>
      	<param-name>pt.iflow.filter_exception3</param-name>
      	<param-value>/iFlow/Admin/login.jsp</param-value>
      </init-param>
      <init-param>
      	<param-name>pt.iflow.filter_exception4</param-name>
      	<param-value>/iFlow/dispatcher</param-value>
      </init-param>
      <init-param>
      	<param-name>pt.iflow.filter_exception5</param-name>
      	<param-value>/iFlow/saml2/SSOService</param-value>
      </init-param>
   </filter>
   <filter>
  		<filter-name>DisableUrlSessionFilter</filter-name>
	  	<filter-class>pt.iflow.servlets.DisableUrlSessionFilter</filter-class>
	</filter>
	<filter>
  		<filter-name>DisableSomeHTTPRequestsFilter</filter-name>
	  	<filter-class>pt.iflow.servlets.DisableSomeHTTPRequestsFilter</filter-class>
	</filter>

    <!--
    To use non XDoclet filter-mappings, create a filter-mappings.xml file that
    contains the additional filter-mappings and place it in your
    project's merge dir.
    -->
   <filter-mapping>
      <filter-name>EncodingFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>RedirectAuthenticationFilter</filter-name>
      <url-pattern>/login.jsp</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>RedirectAuthenticationFilter</filter-name>
      <url-pattern>/logout.jsp</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>AuthenticationFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>DispatcherAuthenticationFilter</filter-name>
      <url-pattern>/dispatcher</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>SysAdmAuthenticationFilter</filter-name>
      <url-pattern>/Admin/login.jsp</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>RemoteFileInclusionFilterFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
 	<filter-mapping>
      <filter-name>MySQLInjectionFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>XSSFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>CSRFFilter</filter-name>
      <url-pattern>/*</url-pattern>      
   </filter-mapping>
   <filter-mapping>
	  <filter-name>DisableUrlSessionFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
	  <filter-name>DisableSomeHTTPRequestsFilter</filter-name>
	  <url-pattern>/*</url-pattern>	  
	</filter-mapping>		
	
   
   <listener>
	 <listener-class>org.apache.axis.transport.http.AxisHTTPSessionListener</listener-class>
   </listener>
   <listener>
     <listener-class>pt.iflow.documents.DocumentSessionListener</listener-class>
   </listener>

   <servlet>
      <servlet-name>StartupServlet</servlet-name>
      <servlet-class>pt.iflow.startup.StartupServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet>
      <servlet-name>AppletServlet</servlet-name>
      <servlet-class>pt.iflow.servlets.AppletServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet>
      <servlet-name>ResetPassword</servlet-name>
      <servlet-class>pt.iflow.servlets.ResetPassword</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>AuthenticationServlet</servlet-name>
      <servlet-class>pt.iflow.servlets.AuthenticationServlet</servlet-class>
   </servlet>
      <servlet>
      <servlet-name>AuthWinUserServlet</servlet-name>
      <servlet-class>pt.iflow.authentication.AuthWinUserServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ProcessAnnotationServlet</servlet-name>
      <servlet-class>pt.iflow.servlets.ProcessAnnotationServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>FlowServlet</servlet-name>
      <servlet-class>pt.iflow.servlets.FlowServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>FlowMenus</servlet-name>
      <servlet-class>pt.iflow.servlets.FlowMenusServlet</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>ChartServlet</servlet-name>
      <servlet-class>pt.iflow.chart.ChartServlet</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>EditorDispatcherServlet</servlet-name>
      <servlet-class>pt.iflow.servlets.Dispatcher</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>ConfirmAccount</servlet-name>
      <servlet-class>pt.iflow.servlets.ConfirmAccount</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>FeedServlet</servlet-name>
      <servlet-class>pt.iflow.feed.FlowsFeedServlet</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>ChallengeImage</servlet-name>
      <servlet-class>pt.iflow.servlets.ChallengeImage</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>Register</servlet-name>
      <servlet-class>pt.iflow.servlets.Register</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>UpdateLicense</servlet-name>
      <servlet-class>pt.iflow.servlets.UpdateLicense</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>RepositoryReset</servlet-name>
      <servlet-class>pt.iflow.servlets.RepositoryReset</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>UpdateOrg</servlet-name>
      <servlet-class>pt.iflow.servlets.UpdateOrganization</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>SetupUser</servlet-name>
      <servlet-class>pt.iflow.servlets.SetupUser</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>documents</servlet-name>
      <servlet-class>pt.iflow.documents.DocumentServlet</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>PdfSampleServlet</servlet-name>
      <servlet-class>pt.iflow.documents.PdfSampleServlet</servlet-class>  
   </servlet>
   <servlet>
      <servlet-name>SignSampleServlet</servlet-name>
      <servlet-class>pt.iflow.documents.SignSampleServlet</servlet-class>  
   </servlet>
   <servlet>
      <servlet-name>RepositoryDelete</servlet-name>
      <servlet-class>pt.iflow.servlets.RepositoryDelete</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>publicFiles</servlet-name>
      <servlet-class>pt.iflow.servlets.PublicFiles</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>UserDialog</servlet-name>
      <servlet-class>pt.iflow.servlets.UserDialogServlet</servlet-class>

   </servlet>
    <servlet>
      <servlet-name>HelpDialog</servlet-name>
      <servlet-class>pt.iflow.servlets.HelpDialogServlet</servlet-class>

   </servlet>
    <servlet>
      <servlet-name>FlowInfo</servlet-name>
      <servlet-class>pt.iflow.servlets.FlowInfoServlet</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>UpdateSettingsServlet</servlet-name>
      <servlet-class>pt.iflow.servlets.UpdateSettingsServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>GoToTask</servlet-name>
      <servlet-class>pt.iflow.servlets.GoTo</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>AuditChartServlet</servlet-name>
      <servlet-class>pt.iflow.chart.AuditChartServlet</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>SidebarServlet</servlet-name>
      <servlet-class>pt.iknow.sidebar.SidebarServlet</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>UserProcPrintServlet</servlet-name>
      <servlet-class>pt.iflow.servlets.UserProcPrintServlet</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>FileUpload</servlet-name>
      <servlet-class>pt.iflow.documents.FileUploadServlet</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>Logo</servlet-name>
      <servlet-class>pt.iflow.servlets.Logo</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>AnnotationIconsServlet</servlet-name>
      <servlet-class>pt.iflow.servlets.AnnotationIconsServlet</servlet-class>

   </servlet>
      <servlet>
      <servlet-name>ChangePassword</servlet-name>
      <servlet-class>pt.iflow.servlets.ChangePassword</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>RepositoryDownload</servlet-name>
      <servlet-class>pt.iflow.servlets.RepositoryDownload</servlet-class>

   </servlet>
   <servlet>
  	  <servlet-name>RoundedCornerServlet</servlet-name>
  	  <servlet-class>pt.iflow.servlets.RoundedCornerServlet</servlet-class>
   </servlet>
   <servlet>
  	  <servlet-name>BackgroundServlet</servlet-name>
  	  <servlet-class>pt.iflow.servlets.BackgroundServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>LicenseServlet</servlet-name>
      <servlet-class>pt.iflow.servlets.LicenseServlet</servlet-class>
   </servlet>
  <servlet>
    <servlet-name>DocumentService</servlet-name>
    <servlet-class>pt.iflow.documents.DocumentServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignatureService</servlet-name>
    <servlet-class>pt.iflow.documents.SignatureServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RubricService</servlet-name>
    <servlet-class>pt.iflow.documents.RubricServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageService</servlet-name>
    <servlet-class>pt.iflow.documents.ImageServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FlowSchedule</servlet-name>
    <servlet-class>pt.iflow.servlets.FlowScheduleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SSOService</servlet-name>
    <servlet-class>pt.iflow.servlets.SSOServiceServlet</servlet-class>
  </servlet>  
  <servlet>
    <description>Proxy timestamping service</description>
    <display-name>TSAService</display-name>
    <servlet-name>TSAService</servlet-name>
    <servlet-class>com.infosistema.net.SimpleTSAProxyServlet</servlet-class>
  </servlet>
  <!-- Apache Axis -->
  <servlet>
	  <display-name>Apache-Axis Servlet</display-name>
	  <servlet-name>AxisServlet</servlet-name>
	  <servlet-class>
		  org.apache.axis.transport.http.AxisServlet
	  </servlet-class>
  </servlet>

  <servlet>
	  <display-name>Axis Admin Servlet</display-name>
	  <servlet-name>AdminServlet</servlet-name>
	  <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
	  <load-on-startup>100</load-on-startup>
  </servlet>

   <!-- end of axis -->

   <!-- Kaptcha -->
  <servlet>
    <servlet-name>Kaptcha</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <param-name>kaptcha.background.clear.from</param-name>
      <param-value>255,255,255</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.background.clear.to</param-name>
      <param-value>255,255,255</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.producer.impl</param-name>
      <param-value>pt.iflow.servlets.IKnowKaptcha</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.char.length</param-name>
      <param-value>4</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.size</param-name>
      <param-value>32px</param-value>
    </init-param>
  </servlet>
   <!-- end of kaptcha -->

    <!-- Apache Axis -->
  <servlet-mapping>
	  <servlet-name>AxisServlet</servlet-name>
	  <url-pattern>/ws/AxisServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
	  <servlet-name>AxisServlet</servlet-name>
	  <url-pattern>/ws/*</url-pattern>
  </servlet-mapping>

  <!-- uncomment this if you want the Axis admin servlet -->
  <!--
  <servlet-mapping>
	  <servlet-name>AdminServlet</servlet-name>
	  <url-pattern>/ws/AdminServlet</url-pattern>
  </servlet-mapping>
  -->

   <!-- end of axis -->

   <!-- Kaptcha -->
	<servlet-mapping>
		<servlet-name>Kaptcha</servlet-name>
		<url-pattern>/kaptcha</url-pattern>
	</servlet-mapping>
   <!-- end of kaptcha -->
   <servlet-mapping>
      <servlet-name>LicenseServlet</servlet-name>
      <url-pattern>/license/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ResetPassword</servlet-name>
      <url-pattern>/resetPassword</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>AuthenticationServlet</servlet-name>
      <url-pattern>/AuthenticationServlet</url-pattern>
   </servlet-mapping>
      <servlet-mapping>
      <servlet-name>AuthWinUserServlet</servlet-name>
      <url-pattern>/AuthWinUserServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ProcessAnnotationServlet</servlet-name>
      <url-pattern>/ProcessAnnotation/call/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>FlowServlet</servlet-name>
      <url-pattern>/FlowServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>FlowMenus</servlet-name>
      <url-pattern>/Admin/flow_menu_edit</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>FlowMenus</servlet-name>
      <url-pattern>/Admin/flow_menu_add</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>FlowMenus</servlet-name>
      <url-pattern>/Admin/flow_menu_del</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ChartServlet</servlet-name>
      <url-pattern>/Chart</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ChartServlet</servlet-name>
      <url-pattern>/Form/Chart</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>EditorDispatcherServlet</servlet-name>
      <url-pattern>/dispatcher</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ConfirmAccount</servlet-name>
      <url-pattern>/confirm</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>FeedServlet</servlet-name>
      <url-pattern>/FeedServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ChallengeImage</servlet-name>
      <url-pattern>/challenge</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>Register</servlet-name>
      <url-pattern>/register</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>UpdateLicense</servlet-name>
      <url-pattern>/updateLicense</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>RepositoryReset</servlet-name>
      <url-pattern>/reset.rep</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>UpdateOrg</servlet-name>
      <url-pattern>/UpdateOrg</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>SetupUser</servlet-name>
      <url-pattern>/setupUser</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>documents</servlet-name>
      <url-pattern>/Docs/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>documents</servlet-name>
      <url-pattern>/document</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>PdfSampleServlet</servlet-name>
      <url-pattern>/pdfsample</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>SignSampleServlet</servlet-name>
      <url-pattern>/signsample</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>RepositoryDelete</servlet-name>
      <url-pattern>/delete.rep</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>publicFiles</servlet-name>
      <url-pattern>/PublicFiles/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>UserDialog</servlet-name>
      <url-pattern>/UserDialog</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>HelpDialog</servlet-name>
      <url-pattern>/HelpDialog/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>FlowInfo</servlet-name>
      <url-pattern>/FlowInfo/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>UpdateSettingsServlet</servlet-name>
      <url-pattern>/UpdateSettings/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>StartupServlet</servlet-name>
      <url-pattern>/StartupServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>GoToTask</servlet-name>
      <url-pattern>/GoTo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>AuditChartServlet</servlet-name>
      <url-pattern>/AuditChart</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>SidebarServlet</servlet-name>
      <url-pattern>/SidebarServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>UserProcPrintServlet</servlet-name>
      <url-pattern>/UserProcPrint</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>FileUpload</servlet-name>
      <url-pattern>/Docs/upload</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>Logo</servlet-name>
      <url-pattern>/Logo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>AnnotationIconsServlet</servlet-name>
      <url-pattern>/AnnotationIconsServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ChangePassword</servlet-name>
      <url-pattern>/changePassword</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>RepositoryDownload</servlet-name>
      <url-pattern>/download.rep</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>RoundedCornerServlet</servlet-name>
   	<url-pattern>/rounded</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>BackgroundServlet</servlet-name>
   	<url-pattern>/background</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>AppletServlet</servlet-name>
      <url-pattern>*.jar</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>AppletServlet</servlet-name>
      <url-pattern>/javascript/applet.js</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>AppletServlet</servlet-name>
      <url-pattern>*.properties</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>DocumentService</servlet-name>
      <url-pattern>/DocumentService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>SignatureService</servlet-name>
      <url-pattern>/SignatureService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>RubricService</servlet-name>
      <url-pattern>/RubricService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ImageService</servlet-name>
      <url-pattern>/ImageService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>TSAService</servlet-name>
      <url-pattern>/tsa</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>DocumentService</servlet-name>
      <url-pattern>/Form/DocumentService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ImageService</servlet-name>
      <url-pattern>/Form/ImageService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>TSAService</servlet-name>
      <url-pattern>/Form/tsa</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>FlowSchedule</servlet-name>
      <url-pattern>/Admin/flow_schedule_add</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>FlowSchedule</servlet-name>
      <url-pattern>/Admin/flow_schedule_add_new</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>FlowSchedule</servlet-name>
      <url-pattern>/Admin/flow_schedule_list</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>FlowSchedule</servlet-name>
      <url-pattern>/Admin/flow_schedule_delete</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>SSOService</servlet-name>
      <url-pattern>/saml2/SSOService</url-pattern>
   </servlet-mapping>
   
   <!-- REST Servlet -->
   <servlet>
    <servlet-name>iFlow REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>pt.iflow.services.rest</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <!-- servlet-mapping>
    <servlet-name>iFlow REST Service</servlet-name>
    <url-pattern>/iFlowRest/*</url-pattern>
  </servlet-mapping -->
  
  
   <!--
   To specify mime mappings, create a file named mime-mappings.xml, put it in your project's mergedir.
   Organize mime-mappings.xml following this DTD slice:

   <!ELEMENT mime-mapping (extension, mime-type)>
   -->

   <!--
   To specify error pages, create a file named error-pages.xml, put it in your project's mergedir.
   Organize error-pages.xml following this DTD slice:

   <!ELEMENT error-page ((error-code | exception-type), location)>
   -->

	<jsp-config>
		<taglib>
			<taglib-uri>http://jakarta.apache.org/taglibs/core</taglib-uri>
			<taglib-location>/WEB-INF/tlds/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://www.iknow.pt/jsp/jstl/iflow</taglib-uri>
			<taglib-location>/WEB-INF/tlds/iflow.tld</taglib-location>
		</taglib>
	</jsp-config>

   <!--
   To set up security settings for your web app, create a file named web-security.xml, put it in your project's mergedir.
   Organize web-security.xml following this DTD slice:

   <!ELEMENT security-constraint (display-name?, web-resource-collection+, auth-constraint?, user-data-constraint?)>
   <!ELEMENT web-resource-collection (web-resource-name, description?, url-pattern*, http-method*)>
   <!ELEMENT web-resource-name (#PCDATA)>
   <!ELEMENT url-pattern (#PCDATA)>
   <!ELEMENT http-method (#PCDATA)>
   <!ELEMENT user-data-constraint (description?, transport-guarantee)>
   <!ELEMENT transport-guarantee (#PCDATA)>

   <!ELEMENT login-config (auth-method?, realm-name?, form-login-config?)>
   <!ELEMENT auth-method (#PCDATA)>
   <!ELEMENT realm-name (#PCDATA)>
   <!ELEMENT form-login-config (form-login-page, form-error-page)>
   <!ELEMENT form-login-page (#PCDATA)>
   <!ELEMENT form-error-page (#PCDATA)>
   -->

</web-app>
