<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0+" codebase="http://atlas:8080/iFlow/PublicFiles/" href="$outputFile">
	<information>
        <title>$informationTitle</title>
        <vendor>$informationVendor</vendor>
        <homepage>$informationHomepage</homepage>
        <description>$informationDescription</description>
	</information>

	<security>
		<all-permissions />
	</security>

	<resources>
		<j2se version="1.5+" initial-heap-size="64m" max-heap-size="256m" />
     $dependencies
	</resources>

	<resources os="Windows" arch="x86">
		<j2se version="1.4+" />
		<jar href="swt-win32-win32.jar" />
	</resources>

	<resources os="Linux" arch="ppc">
		<j2se version="1.4+" />
		<jar href="swt-gtk-linux-ppc.jar" />
	</resources>

	<resources os="Linux" arch="x86_64">
		<j2se version="1.4+" />
		<jar href="swt-gtk-linux-x86_64.jar" />
	</resources>

	<resources os="Linux" arch="amd64">
		<j2se version="1.4+" />
		<jar href="swt-gtk-linux-x86_64.jar" />
	</resources>

	<resources os="Linux">
		<j2se version="1.4+" />
		<jar href="swt-gtk-linux-x86.jar" />
	</resources>

	<resources os="SunOS" arch="sparc">
		<j2se version="1.4+" />
		<jar href="swt-gtk-solaris-sparc.jar" />
	</resources>

	<resources os="Mac\ OS\ X">
		<j2se version="1.5*" java-vm-args="-XstartOnFirstThread"/>
		<jar href="swt-carbon-osx-universal.jar" />
	</resources>

	<application-desc main-class="$mainClass" />
</jnlp>
