div.multiupload{
	border:1px outset gray;
	float:left;
	padding:3px;
	background:#eee;
}
div.multiupload div.list{
	border:1px inset gray;
	background: #fff;
}
div.multiupload div.list div.item{
	margin:1px;
	background: #eee;
}
div.multiupload div.list div.item:hover{
	background: #ccc;
}
div.multiupload div.list img{
	float:left;
	margin: 3px;
	cursor:pointer;
}
