<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>iFlow Login</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="Pragma" content="no-cache"/>
		
		<link rel="stylesheet" href="Themes/${orgTheme}/css/iflow_main.css" type="text/css">
	    <link rel="shortcut icon" href="images/favicon.ico" />
	
	  <script type="text/javascript" src="javascript/messages.js"> </script><!-- default messages -->
	  <script type="text/javascript" src="javascript/messages_${lang}.js"> </script><!-- default messages -->
	  <script type="text/javascript" src="javascript/mootools.js"></script>
	  <script type="text/javascript" src="javascript/ajax_processing.js"></script>
	  <script type="text/javascript" src="javascript/iflow_main.js"></script>
	  <script type="text/javascript" src="javascript/login.js"></script>
	</head>

	
	<body class="lp_body ${maintenance}" style="padding-top:10%">
    <style type="text/css">
		p {font-size:1.5em}
	</style>
		<form name="dados" method="post" action="${dados.action}" autocomplete="off">
			<input type="hidden" name="url" value="${dados.url}"/>
			<input type="hidden" name="${dados.ufidName}" value="${dados.ufidValue}"/>
			<input type="hidden" name="source" value="internet"/>
			<input type="hidden" name="is_system" value="false"/>
			<input type="hidden" name="do_redirect" value="true"/>
			<input type="hidden" name="url" value="main.jsp"/>
			<input type="hidden" name="sso" value="false"/>
		<div style="margin-left:auto;margin-right:auto;background:url('barclays.png') no-repeat;width:604px;height:441px;padding-top:70px">
			<div>
				<p>Acesso via Single Sign On</p>
			    <span style="font-size:1.2em;text-decoration:underline;color:white;position:relative;top:0px"><a href="./saml2/index.jsp?entityprovider=1" class="user_info" style="font-size: 1.2em;">Login Integrado</a></span>
			</div>
			
			<div class="lp_login_box" style="background:none;margin-top:50px;">
				<p>Acesso Local</p>
			    <div class="error_msg lp_error_msg" style="margin-top:-10px;height:25px">
			        #if ($hasError)
			        	$loginError
			        #end
			    </div>
 				<div class="user_info lp_field_label">
					$msg.get('login.field.user')
				</div>
				<div class="item lp_field_input">
					<input type="text" name="login" id="login" value="${login}" size="15" maxlength="100"/>
				</div>    
				<div class="user_info lp_field_label">
					<span id="capsWarn" class="error_msg" style="display:none">Caps&nbsp;ON&nbsp;</span>$msg.get('login.field.password')
				</div>
				<div class="item lp_field_input">
					<input type="password" name="password" id="password" size="15" maxlength="40"/>
				</div>
				<div class="lp_login_button">
					<input id="link_search_span" class="regular_button_01" type="button" name="filter" value="Login" onClick="document.dados.submit();" />
				</div>
				
				#if ($isOverFailureLimit)
			    </br>
				<div style="width: 320px; margin: auto;">
					<img alt="Challenge" id="challenge_kap" src="/iFlow/kaptcha" style="padding-left: 30%;">
					</br>			
					<div class="user_info lp_field_label">
						Kaptcha 
					</div>
					<div class="item lp_field_input">				
						<input type="text" value="" id="challenge" name="challenge" size="15" maxlength="5">
					</div>
				</div>    	
			#end
			</div>
			
			
</div>
			
		</form>
		

		
		
		<script type="text/javascript">
			register(document.dados, document.dados.login, document.dados.password);
		</script>

	</body>
</html>
