body {
	width: 100%;
	height: 98%;
}

div.loadingDiv {
	width:95%;
	height:98%;
	position:absolute;
	left:0;
	top:0;
	z-index:99;
	/* background-color:white; */
	margin-left: 30px;
}

div.loadingDivContainer {
	position:relative;
	top:15px;
	margin:auto;
}

div.loadingDivInfo {
	font-family: Verdana, Arial, sans-serif; 
  	font-size: 12px; 
  	color: #1E5B78;
  	text-align: center;
  	padding:10px;
    margin:20px;
}

div.loadingDivInfo p {
	padding-left:10px;
}