

.tool-tip {
  color: white;
  width: 200px;
  z-index: 13000;
}
 
.tool-title {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 11px;
  margin: 0;
  color: white;
  padding: 8px 8px 4px;
  background: url(../images/balloon.png) top left !important;
  background: url(../images/balloon.gif) top left;
  border-bottom: 1px solid white;
  opacity: 0.90;
  filter:alpha(opacity=90);
}
 
.tool-text {
  font-size: 11px;
  font-family: sans-serif;
  padding: 4px 8px 8px;
  background: url(../images/balloon.png) bottom right !important;
  background: url(../images/balloon.gif) bottom right;
  opacity: 0.9;
  filter:alpha(opacity=90);
}
 
.custom-tip {
  color: #000;
  width: 130px;
  z-index: 13000;
}
 
.custom-title {
  font-weight: bold;
  font-size: 11px;
  margin: 0;
  color: #3E4F14;
  padding: 8px 8px 4px;
  background: #C3DF7D;
  border-bottom: 1px solid #B5CF74;
}
 
.custom-text {
  font-size: 11px;
  padding: 4px 8px 8px;
  background: #CFDFA7;
}

/* tab button tooltips */
.tab-tool-tip {
  color: white;
  width: 200px;
  z-index: 13000;
}
 
.tab-tool-title {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 11px;
  margin: 0;
  color: white;
  padding: 8px 8px 4px;
  background: url(../images/balloon.png) top left !important;
  background: url(../images/balloon.gif) top left;
  border-bottom: 1px solid white;
  opacity: 0.90;
  filter:alpha(opacity=90);
}
 
.tab-tool-text {
  font-size: 11px;
  font-family: sans-serif;
  padding: 4px 8px 8px;
  background: url(../images/balloon.png) bottom right !important;
  background: url(../images/balloon.gif) bottom right;
  opacity: 0.9;
  filter:alpha(opacity=90);
}
 
