<form action="#" onsubmit="return false;" method="get">
	<div class="info" id="addVarTitle i18n">Adicionar Variavel</div>
	<div style="text-align: left" class="table">
		<div class="tr">
			<div id="addVarPropTitle" class="th i18n">Nome</div>
			<div id="addVarValTitle" class="th i18n"></div>
		</div>
		<div class="tr">
			<div id="addVarNameId" class="td i18n">Nome</div>
			<div class="td"><input type="text" name="name" /></div>
		</div>
		<div class="tr">
			<div id="addVarDefaultId" class="td i18n">Valor por Omissão</div>
			<div class="td"><input type="text" name="defaultValue" /></div>
		</div>
		<div class="tr">
			<div id="addVarTypeId" class="td i18n">Tipo</div>
			<div class="td">
				<select id="addCatTypeSelect" name="type" class="optionIcon" style="background-image: url(images/Text.png);">
#foreach($item in ${dataTypes})
	
					<option id="addVarType${item}" value="${item}" class="optionIcon" style="background-image: url(images/${item}.png);">${item}</option>
#end
				</select>
			</div>
		</div>
		<div class="tr">
			<div id="addVarIsSearchableId" class="td i18n">Pesquisavel</div>
			<div class="td"><input type="checkbox" name="isSearchable" id="addVarIsSearchable"/></div>
		</div>
		<div class="tr">
			<div id="addVarDescId" class="td i18n">Nome Público</div>
			<div class="td"><input type="text" name="description" /></div>
		</div>
		<div class="tr">
			<div id="addVarFormatId" class="td i18n">Formato</div>
			<div class="td"><input type="text" name="defaultFormat" /></div>
		</div>
	</div>
	<div class="propertiesButtons">
		<button id="addVarButton" name="okButton" type="button" class="i18n">Adicionar</button>
	</div>
</form>
